cores {
    --Fundo-de-cadastro: #29abe2;
    --Titulo-do-botao-Cadastrar : #29abe2;
    --Titulo-Lista-de-Cadastro: #29abe2;
    --Numeros-da-tabela : #012d51;
    --Botao-Cadastrar : #012d51;
    --Titulos-das-colunas-da-tabela : #012d51;
    --Linhas-da-tabela : #29abe2;
    --Informacoes-da-tabela : #808080;
}

