

@font-face {
    font-family: 'HelveticaUltra';
    src: url('statics/Fonts/HelveticaUltraLt_0.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ps';
    src: url('statics/Fonts/ps.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('statics/Fonts/Roboto-Light_0.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Roboto-Regular';
    src: url('statics/Fonts/Roboto-Regular_0.ttf');
    font-weight: normal;
    font-style: normal;
}

html {
	scroll-behavior: smooth;
}
@media screen and (min-width: 910px){

    .desktop{
        display: block;
    }
    .mobile{
        display: none;
    }

    .textTitulo1{
        color: #ffff;
        font-size: 5.5rem;
        font-family: 'HelveticaUltra';
        position: relative;
        top: 10rem;
        right: 17rem;
    }
    
    .textTitulo2{
        color: #ffff;
        position: relative;
        font-size: 2.4rem;
        top: 8rem;
        right: 17rem;
        font-family: 'HelveticaUltra';
    }

    .form-center{
        width: 40rem;
    }

    .btn-cadastro{
        background-color: #012d51;
        text-align: center;
        width: 40%;
        height: 4rem;
    }
    .btn-text{
        color: #29abe2;
        font-size: 36px;
        font-family: 'HelveticaUltra';
    }

}

@media screen and (max-width: 909px) and (min-width: 640px){
    .desktop{
        display: none;
    }
    .mobile{
        display: none;
    }
    .tablet{
        display: block;
    }

    .textTitulo1{
        color: #ffff;
        font-size: 3.5rem;
        font-family: 'HelveticaUltra';
        position: relative;
        right: 10rem;
    }
    
    .textTitulo2{
        color: #ffff;
        position: relative;
        font-size: 1.5rem;
        top: -1.2rem;
        right: 10rem;
        font-family: 'HelveticaUltra';
    }

    .form-center{
        width: 30rem;
    }

    .btn-cadastro{
        background-color: #012d51;
        text-align: center;
        width: 50%;
        height: 4rem;
    }
    .btn-text{
        color: #29abe2;
        font-size: 36px;
        font-family: 'HelveticaUltraLt';
    }
}

@media screen and (max-width: 639px){
    .navbar-inner{
        position: relative;
        top: -1.7rem;
    }
    .desktop{
        display: none;
    }
    .mobile{
        display: block;
    }

    .textTitulo1{
        color: #ffff;
        font-size: 4rem;
        font-family: "HelveticaUltra";
        position: relative;
        top: 4.5vw;
        z-index: -1;  
    }
    
    .textTitulo2{
        color: #ffff;
        position: relative;
        font-size: 1.8rem;
        top: -3vw;
        font-family: 'HelveticaUltra';
        z-index: -1;
    }
    .form-center{
        width: 18rem;
    }

    .btn-cadastro{
        background-color: #012d51;
        color: #ffff;
        text-align: center;
        width: 100%;
    }

    .btn-text{
        color: #29abe2;
        margin-top: 6px;
        font-size: 36px;
        font-family: 'HelveticaUltraLt';
    }
}

.imgFundo{
  
    position: relative;
    z-index: 1;
}

.form-control-edit{
    border: none;
    background-color: var(--Fundo-de-cadastro);
    width: 100%;
    color: #ffff;
    border-bottom: 2px solid #ffff;
}

.imgFooter{
    height: 15rem;
}

.form-box{
    background-color: #29abe2;
    position: relative;  
}

.centralizar{
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.footer-text{
    position: relative;
    top: 14rem;
    color: #ffff;
    z-index: 1;
    font-family: Roboto-Light;
    
}

.font-white{
    color: #ffff;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.font-white:hover {
    color: #ffff;
}

.font-menu{
    font-family: 'Roboto-Regular';
}

.menu{
    position: relative;
    z-index: 10;
    height: 0rem;
}

.text-form{
    font-family: 'Roboto-Regular';
}

.textNum{
    font-family: 'Roboto-Light';
}

.titulo-blue {
    color: #29abe2;
}

.border-info{
    border-color: #29abe2;
    color: #808080;
}

.text-blue {
    color: #012d51;
}
.table{
    width: auto;
}

#menuToggle
{
  display: block;
  position: relative;
  top: 10px;
  left: 1px;
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle a
{
  text-decoration: none;
  color: #012d51;
  
  transition: color 0.3s ease;
}

#menuToggle a:hover
{
  color: #012d51;
}

#menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0;
  z-index: 2;
  
  -webkit-touch-callout: none;
}

#menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #29abe2;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #012d51;
}


#menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}


#menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

#menu
{
  position: absolute;
  width: 300px;
  margin: -100px 0 0 -50px;
  padding: 50px;
  padding-top: 125px;
  
  background: #29abe2;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  
  transform-origin: 0% 0%;
  transform: translate(-100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
  padding: 10px 0;
  font-size: 22px;
}

#menuToggle input:checked ~ ul
{
  transform: none;
}